version: "3.9"

services:
  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "8000:8000"
    volumes:
      - ./frontend:/app
    depends_on:
      - user_service

  user_service:
    build: ./user_service
    container_name: user_service
    ports:
      - "8001:8001"
    volumes:
      - ./user_service:/app
