<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="First Name" value="{{ form_data.first_name|default:'' }}"
            required><br>

        <input type="text" name="last_name" placeholder="Last Name" value="{{ form_data.last_name|default:'' }}"
            required><br>
        <input type="email" name="email" placeholder="Email" value="{{ form_data.email|default:'' }}" required><br>

        <input type="text" name="phone" placeholder="Phone" value="{{ form_data.phone|default:'' }}" required><br>

        <input type="password" name="password" placeholder="Password" required><br>

        <input type="password" name="confirm_password" placeholder="Confirm Password" required><br>

        <button type="submit">Register</button>
    </form>
</body>

</html>